body {
    display: flex;
    flex-direction: column;

}

div .display, div .firstRow, div .secondRow, div .thirdRow, div .fourthRow, div .extraRow  {
    display: flex;
    justify-content: center;

}

button {
    margin: 1px;
    height: 100px;
    width: 100px;
    border-radius: 8px;
    font-size: xx-large;
    border: none;

}

#zero {
    width: 200px;

}

#displayScreen {
    width: 400px;

}

.firstRow button, .secondRow button, .thirdRow button, .fourthRow button {
    background-color: darkslateblue;
}

#AC, #percent, #plusSlashMinus, #slash {
    background-color: royalblue;
}

#slash, #star, #minus, #plus, #equals {
    background-color: orange;
}
